.no-webp .promo-main {
  background: url("../../../public/resources/bgs/Bg_Promo.jpg") center center no-repeat;
}

.no-webp .promo-ourcoffee {
  background: url("../../../public/resources/bgs/Bg_OurCoffee_1.jpg") center center no-repeat;
}

.webp .promo-main {
  background: url("../../../public/resources/bgs/webp/Bg_Promo.webp") center center no-repeat;
}

.webp .promo-test {
  background: url("../../../public/resources/bgs/webp/main.jpg") center center no-repeat;
  background-size: cover;
}

.promo {
  color: #fff;
  font-weight: 700;
}
.promo__content {
  text-align: center;
  padding-top: 10%;
  height: 10vh;
}
.promo__header {
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #008fe2;
}
.promo__text {
  font-size: 24px;
  line-height: 35px;
  margin: 30px 0 25px 0;
}