.search-filter__label {
  font-size: 14px;
  color: #000;
}
.search__label {
  margin-right: 10px;
}
.search__input {
  width: 180px;
  height: 30px;
  border: none;
  padding: 0 5px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.search__input::-webkit-input-placeholder {
  font-size: 12px;
  text-align: center;
}
.search__input::-moz-placeholder {
  font-size: 12px;
  text-align: center;
}
.search__input:-ms-input-placeholder {
  font-size: 12px;
  text-align: center;
}
.search__input::-ms-input-placeholder {
  font-size: 12px;
  text-align: center;
}
.search__input::placeholder {
  font-size: 12px;
  text-align: center;
}
.search-filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .search-filter__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 475px) {
  .search span {
    display: none;
  }
}