footer {
    // position: absolute;
    // right: 0;
    .container {
        .col-lg-6 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}